<p>Find me in app/views/restaurants/show.html.erb</p>
<div class="text-center">
  <h1>
    <strong><%= @restaurant.name %></strong>
  </h1>
  <h1>
    <%= @restaurant.address %>
  </h1>
  <div class="details">
    <p> <%= image_tag('phone.png', size: "20") %>  <%= @restaurant.phone_number %></p>
    <p>category: <%= "#{@restaurant.category} restaurant" %> </p>
  </div>
  <%= link_to "Back to the list", restaurants_path, class: "btn btn-primary" %>
  <p></p>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "View all reviews", restaurant_reviews_path(@restaurant), class: "btn btn-primary" %>
</div>

